* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-style: normal;
    line-height: normal;
    font-family: Rubik, Montserrat, Lato, sans-serif; /* sans-serif - fallback */
}

section {
    background-color: #eff2f9;
    height: 100vh;
}

ul {
    list-style-type: none;
}

.card {
    width: 1170px;
    height: 800px;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    background: #fff;
    padding: 60px 0 70px;
    display: flex;
}

.product-image-block{
    border-right: 2px solid rgba(20,20,20,0.15);
    min-width: 540px;
    display: flex;
    flex-direction: column;
}

.main-image-wrapper {
    flex-grow: 1;  /* будет занимать все свободное пространство в своем родителе */
    /* выравниваем главное изображение горизонтально и вертикально по центру */
    display: flex;
    justify-content: center;
    align-items: center;
}

.previews-wrapper {
    display: flex;
    justify-content: center;  /* выравниваем горизонтально по центру */
    gap: 60px;
}

.preview{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;  /* выравниваем горизонтально по центру */
    align-items: center;
}

.preview.selected{
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
}

.product-info-block{
    padding: 0 60px;
}

.main-title{
    /*font-family: var(--third-family);*/
    font-weight: 700;
    font-size: 38px;
    font-style: normal;
    letter-spacing: 0.01em;
    line-height: normal;
    color: rgba(20, 20, 20, 0.9);
}

.subtitle{
    /*font-family: var(--font-family);*/
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.01em;
    line-height: normal;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 60px;
}

.text{
    /*font-family: var(--second-family);*/
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);
    margin-bottom: 65px;
}

.colors {
    margin-bottom: 65px;
}

.title{
    /*font-family: var(--font-family);*/
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}

.circle{
    width: 16px;
    height: 16px;
    filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));
    border-radius: 50%;
}

.blue {
    background-color: #013C7D;
}
.green {
    background-color: #63CBA7;
}
.red {
    background-color: #D52F29;
}
.black {
    background-color: #141414;
}
.yellow {
    background-color: #F2C723;
}

li.selected {
    width: 30px;
    height: 30px;
    padding: 7px;
    box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
    border-radius: 50%;
}

.quantity {
    width: 80px; /* ширина выпадающего списка */

    /* стили для текста выпадающего списка*/
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(20, 20, 20, 0.8);

    border: none; /* убираем границу */
    appearance: none; /* убираем стрелку, которую браузер отображает по умолчанию */

    /* устанавливаем свою стрелку */
    background-image: url("./assets/images/ph_caret-down-bold.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
}

.price {
    color: rgba(20, 20, 20, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.btn {
    /* свойства для формы */
    height: 70px;
    width: 100%;
    background: #141414;

    /* свойства для текста внутри кнопки */
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018em;
    margin-top: 75px;
}